################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

server/bin/*
server/obj/*
/client/.env
